body {
  color: black;
  background: #fff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-size: 12px;
  margin: 0;
  padding: 0;}

  body a {
    color: #333;
    text-decoration: none;
    border-bottom: none;}

    body a img {
      border: none;}

  body a:hover {
    text-decoration: none;
    border-bottom: none;}

  body blockquote {
    font-style: italic;
    margin-left: 18px;
    padding-left: 5px;}

  body pre {
    overflow: auto;
    color: #eee;
    padding: 10px;
    margin: 15px 20px;
    background: #202020;}

    body pre code {
      border: none;}

  body .error {
    color: black;
    padding: 5px 0;
    margin: 10px auto;
    font-weight: bold;
    text-align: center;
    background: #d99383;
    border: 1px #593c35 solid;}

  body .message {
    color: black;
    padding: 5px 0;
    margin: 10px auto;
    font-weight: bold;
    text-align: center;
    background: #93d983;
    border: 1px #3c5935 solid;}

  body #wrapper {
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    width: 775px;
    padding: 6px;}

  body div.clear {
    clear: both;}

  body .spam {
    color: red;}

  body .draft {
    color: grey;}

  body .public {
    color: green;}

#header {
  padding: 12px 0 16px 0;
  margin: 24px 0;}

  #header .desc {
    float: left;}

    #header .desc a {
      font-style: italic;}

  #header h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 34px;
    color: black;
    font-weight: normal;
    margin: 0;
    padding: 0;}

    #header h1 a {
      color: black;}

    #header h1 a:hover {
}

    #header h1 .desc {
      float: left;}

      #header h1 .desc a {
        font-size: italic;}

      #header h1 .desc a:hover {
        background-color: #eee;
        color: #666;}

#sidebar {
  background: #fff;
  border-left: 1px dotted #ccc;
  padding: 0 10px;
  float: right;
  width: 144px;}

  #sidebar h2 {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
    padding: 0;}

  #sidebar ul {
    color: #808080;
    list-style-type: none;
    font-size: 11px;
    margin: 0;
    padding-left: 3px;}

    #sidebar ul li {
      margin-top: 10px;
      padding-bottom: 2px;}

    #sidebar ul ul {
      font-variant: normal;
      font-weight: normal;
      list-style-type: none;
      text-align: left;
      margin: 0;
      padding: 0;}

      #sidebar ul ul li {
        margin: 0;
        padding: 0;
        border: none;
        padding-left: 3px;}

#content {
  float: left;
  width: 600px;
  margin-bottom: -10px;}

  #content a {
    text-decoration: none;
    border-bottom: 1px dotted #808080;}

  #content a:hover {
    text-decoration: none;
    border-bottom: 1px solid #808080;}

  #content ul {
    list-style-type: circle;}

    #content ul ul {
      list-style-type: disc;}

  #content h1 {
    font-size: 12px;
    color: #444;}

  #content h2 {
    font-size: 12px;
    margin: 0 0 2px 0;
    font-style: italic;
    color: #666;
    padding-bottom: 2px;}

  #content h3 {
    margin: 0;
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 12px;
    color: #888;}

  #content h4 {
}

  #content p {
    font-size: 11px;}

  #content li {
    font-size: 11px;}

  #content .feedback {
    font-size: 11px;}

  #content p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;}

  #content img.rss {
    vertical-align: middle;}

  #content .meta {
    color: #666;
    text-align: right;
    font-size: 10px;
    clear: both;}

  #content a.cloud {
    border: none;}

  #content #preview {
    border: 1px grey dashed;
    background: #eee;
    font-size: 93%;
    min-height: 25px;
    padding: 5px;}

    #content #preview blockquote {
      background: #ddd;}

  #content table {
    font-size: 11px;}

    #content table td {
      padding: 3px;}

    #content table th.big {
      font-size: 14px;
      border: 1px dotted #ccc;}

  #content .post {
    margin-bottom: 15px;
    padding-bottom: 15px;}

    #content .post .title {
      font-weight: bold;
      font-size: 14px;
      color: #333;
      font-style: normal;
      margin: 0;
      padding: 0;
      font-style: normal;}

      #content .post .title a {
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
        border-bottom: none;
        border: none;}

    #content .post .author {
      margin: 0;
      padding: 0;
      font-size: 10px;
      color: #808080;
      font-weight: normal;
      margin-bottom: 10px;}

    #content .post .parent {
      font-weight: bold;
      font-style: italic;
      color: #888;
      margin-bottom: 10px;}

  #content form {
}

    #content form label {
      display: block;
      float: left;
      text-align: right;
      width: 100px;
      padding-right: 5px;}

    #content form .submit {
      padding-left: 105px;}

    #content form textarea {
      width: 450px;
      height: 250px;}

    #content form input[type=text] {
      min-width: 250px;
      font-size: 100%;
      font-family: DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;}

    #content form textarea {
      min-width: 250px;
      font-size: 100%;
      font-family: DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;}

  #content #comments {
    padding-top: 18px;
    padding-bottom: 18px;}

    #content #comments .title {
      font-weight: bold;
      font-size: 14px;
      color: #333;
      font-style: normal;
      padding-bottom: 5px;}

    #content #comments .comment {
      padding: 5px;}

      #content #comments .comment .author {
        font-size: 10px;
        padding-bottom: 8px;
        color: #808080;}

      #content #comments .comment .gravatar {
        float: left;
        padding-bottom: 8px;
        padding-right: 8px;}

      #content #comments .comment .body {
        margin-left: 70px;}

      #content #comments .comment .name {
        color: black;
        font-weight: bold;}

    #content #comments .even {
      background-color: white;}

    #content #comments .odd {
      background-color: #f0f0f0;}

    #content #comments .test {
      text-align: right;}

      #content #comments .test img {
        vertical-align: middle;}

    #content #comments input#test {
      min-width: 150px;
      width: 150px;
      vertical-align: middle;}

  #content .pagenav {
    font-size: 11px;
    margin: 0;
    padding: 0;}

    #content .pagenav a {
      display: block;
      float: left;
      padding: 3px;
      margin: 2px;
      border: none;}

    #content .pagenav .navtext {
      display: block;
      float: left;
      padding: 3px;
      margin: 2px;
      border: none;}

    #content .pagenav .num {
      display: block;
      float: left;
      padding: 3px;
      margin: 2px;
      border: none;}

#footer {
  width: 600px;
  font-style: italic;
  clear: both;
  color: #666;
  font-size: 10px;
  padding: 25px 0 0 0;
  margin: 0 0 20px 0;
  text-align: center;}

  #footer a {
    text-decoration: none;
    border-bottom: none;
    color: #333;}

  #footer a:hover {
    color: #666;}

