div#referer {
    display: none;
}

div.test-block {
    float: right;
}

div.test {
    line-height: 22px;
}

div.test img {
    vertical-align: middle;
}

div#main div.test input {
    width: 150px;
}

/* ALL */

html {
    background: #cccccc url(/img/cowspots.jpg) repeat;
    min-height: 100%;
}

a {
    text-decoration: underline;
}

input[type=text], textarea {
    font-size: 100%;
    font-family: "Bitstream Vera Sans Mono", "Courier Sans", monospace;
}

div#main strong {
    font-weight: bold;
}

div#main em {
    font-style: italic;
}

div#main strong em {
    font-weight: bold;
}

/* HEADER */

div#message {
    width: 99%;
    background: #93d983;
    color: black;
    border: 1px #3c5935 solid;
    text-align: center;
    padding: 5px 0;
    margin: auto;
    font-weight: bold;
}

div#error-message {
    background: #d99383;
    color: black;
    border: 1px #593c35 solid;
    text-align: center;
    padding: 5px 0;
    margin: 10px auto;
    font-weight: bold;
}

/* NAVBAR */

div.navbar {
    font-family: "Century Gothic", "Lucida Grande", "Helvetica", sans;
    color: white;
    margin: 20px 0;
}

div.navbar-top {
    background: url(/img/navbar-top.png) no-repeat top left;
    height: 15px; 
}

div.navbar-content {
    background: url(/img/navbar-bg.png) repeat-y left;
    padding: 0 40px 0 20px;
}

div.navbar-bottom {
    background: url(/img/navbar-bottom.png) no-repeat left;
    height: 31px;
}

div#navbar input[type=text] {
    width: 65%;
    margin-left: 5%;
}

div#navbar input[type=submit] {
    font-family:  "Century Gothic", "Lucida Grande", "Helvetica", sans;
    margin-left: 2px;
}

div#navbar div.search {
    padding: 5px 0;
}

div#navbar h3, div#navbar h4 {
    font-size: 123.1%;
    font-weight: bold;
}

div#navbar h3 a {
    color: white;
    text-decoration: none;
}

div#navbar li {
    list-style-type: circle;
    color: #555;
    list-style-position: inside;
    padding: 3px 15px 0 15px;
}

div#navigation li:hover {
    color: #790900;
}

div#navbar li a {
    font-size: 116%;
    color: #aaa;
    text-decoration: none;
}

div#navigation li a:hover {
    color: red;
    border-bottom: 1px #790900 solid;
}

div#navbar div.home {
    padding: 5px 0 5px 0;
}

div.navbar h1 a {
    font-family: "Century Gothic", "Lucida Grande", "Helvetica", sans;
    color: #aaa;
    font-size: 138.5%;
    text-decoration: none;
    font-weight: bold;
}

div.navbar h1 a:hover {
    text-decoration: underline;
}

div#forum-link li, div#forum-link p {
    color: #aaaaaa;
    padding-left: 0;
}

div.navbar a.forum-link {
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: auto;
    font-style: italic;
    padding-right: 20px;
    color: #aaaaaa;
}

/* BODY */

div#main h2 {
    font-weight: bold;
    font-size: 138.5%;
    font-family: "Century Gothic", "Lucida Grande", "Helvetica", sans;
    margin-bottom: 10px;
}

div#main h4 {
    font-weight: bold;
}

div#main a {
    color: #790900;
}

div#main div.content a {
    font-weight: bold;
}

div#main h1 {
    font-weight: bold;
    font-size: 108%;
    font-family: "Century Gothic", "Lucida Grande", "Helvetica", sans;
    margin: 0;
    padding: 0;
}

div#main h3 {
    font-weight: bold;
    font-size: 108%;
    font-family: "Century Gothic", "Lucida Grande", "Helvetica", sans;
    margin: 0;
    padding: 0;
}

div#main h2 a {
    color: black;
    text-decoration: underline;
}

div#main p {
    font-size: 100%;
    font-family: "Verdana", sans;
    line-height: 1.4em;

    margin: 15px;
}

div#main blockquote {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    font-style: italic;
    font-size: 100%;
    margin: 15px 20px;
    padding: 10px;
    background: #eeeeee;
}

div#main pre {
    margin: 15px 20px;
    padding: 5px 5px;
    border: 1px grey solid;
    border-left: 10px grey solid;
    overflow: auto;
}

code {
    border: 1px #999 dotted;
    background: #ddd;
    color: #000;
    padding: 0 2px;
}

del {
    text-decoration: line-through;
}

/*
div#main pre {
    margin: 15px 20px;
    padding: 10px;
    background: #eeeeee;
    border: 1px grey solid;
    border-left: 10px grey solid;
    overflow: auto;
}

div#main code {
    background: #eeeeee;
}
*/
div#main pre, div#main code, div#main pre * {
    font-family: DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;;
}

div#main ul, div#main ol {
    margin: 10px 0 10px 30px;
    font-size: 100%;
    font-family: "Verdana", sans;
    line-height: 1.4em;
}

div#main ul li {
    list-style-type: disc;
    padding: 4px 0;
}

div#main ol li {
    list-style-type: decimal;
    padding: 4px 0;
}

div#main li p {
    margin: 0;
    padding: 2px 0;
}

div#main div.content a {
    font-weight: bold;
}

div#main a:hover {
    color: #cc0000;
}

div#main div.tags {
    text-align: right;
}

div#main div.tags span {
    font-style: italic;
}

div#main div.tag-cloud a {
    color: black;
}

div#main div.tag-cloud a:hover {
    color: #790900 !important;
}    

div#main div.post-footer {
    font-family: "Century Gothic";
    border-top: 1px #ddd solid;
    padding: 5px;
    color: #666;
}

div#main div.post-footer a {
    color: #222;
}

div#main div.post-footer a:hover {
    color: #790900;
}

div#main a.tag {
    text-decoration: none;
    background: #e0e0e0;
    border: 1px white solid;
    margin: 2px;
    padding: 1px 2px;
}

div#main a.tag:hover {
    border: 1px #790900 solid;
}

div#main div.meta {
    font-size: 93%;
}

div#main div.meta-row {
    padding: 3px 0;
}

div#main div.meta-row.comments {
    float: right;
}

div#main div.clear {
    clear: both;
}

div#main div.comment-line {
    border-bottom: 1px #ddd solid;
    padding: 5px 0;
}

div#main div.comment-line.even {
    background: #ddd;
}

div#main div.comment-avatar {
    width: 80px;
    float: left;
    margin-left: 5px;
}

div#main div.comment-date {
    float: right;
    padding: 0 5px;
    font-style: italic;
}

div#main div.comment-content {
    width: 570px;
    float: left;
    margin-left: 10px;
}

div#main div.comment-line span.author {
    font-weight: bold;
}

div#main span.comment-link img {
    padding: 0 3px;
}

div#main div.moderate-comment {
    padding: 10px;
    border: 1px grey dotted;
}

/* PAGENAV */

div#main div.pagenav a, div#main div.pagenav span {
    display: block;
    float: left;
    font-family: "Century Gothic", "Lucida Grande", "Helvetica", sans;
    text-decoration: none;
    padding: 3px;
    margin: 2px;
}
div#main div.pagenav span {
}

div#main div.pagenav a {
    border: 1px white solid;
    background: #ddd;
    color: black;
}

div#main div.pagenav .num {
    width: 1.5em;
    text-align: center;
}

div#main div.pagenav a:hover {
    border: 1px #790900 solid;
    color: #790900;
}
    
/* BODY - EDITOR */

div#preview {
    border: 1px grey dashed;
    background: #eeeeee;
    font-size: 93%;
    min-height: 25px;
    padding: 5px
}

div#preview blockquote {
    background: #ddd;
}

div#comment-instructions {
    font-size: 83%;
}

div#comment-instructions div.hide {
    color: black;
}

div#comment-instructions p {
    margin: 5px 15px;
    padding: 0;
}

div#comment-instructions ul {
    margin: 0;
    padding: 0;
}

div#comment-instructions li {
    list-style-type: square !important;
    margin-left: 45px;
}

div#comment-instructions p.showhide {
}

div#comment-instructions h3 {
    margin: 10px;
}
/*
div#preview blockquote, div#preview pre {
    background: #dddddd;
}

div#preview code {
    background: #dddddd;
}
*/
/* BODY - BLOCK */

div#main {
    margin-top: 10px;
}

div#main div.block {
    width: 725px;
}

div#main div.block-top img {
    position: absolute;
    right: 8px;
    top: 7px;
}

div#main div.block-bottom {
    background: url(/img/black-bottom.png) no-repeat bottom center;
    width: 725px;
    height: 30px;
}

div#main div.block-content {
    background: url(/img/black-bg.png) repeat-y center;
    padding: 10px 30px;
}

div#main div.generic {
}

div#main div.block div.block-top {
    position: relative;
    background: url(/img/generic-top.png) no-repeat bottom center;
    width: 725px;
    height: 25px;
}

/* BODY - FORMS */

div#main form {
    margin: 0 auto;
}

div#main div.form-row {
    margin-bottom: 4px;
}

div#main div.form-label {
    float: left;
    width: 9%;
    text-align: right;
    margin-right: 1%;
}

div#main div.form-submit {
    text-align: right;
}

div#main input[type=text] {
    width: 89%;
}

div#main input[type=submit] {
    padding: 4px;
}

div#main textarea {
    width: 89%;
}

div#main div.form-field {
}

div#main table.post-table {
    width: 100%;
    margin: 0 auto;
}

div#main table.post-table th {
    text-align: center;
    font-weight: bold;
    border: 1px grey solid;
    padding: 2px;
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}

div#main table.post-table th a {
    text-decoration: none;
}

div#main table.post-table td {
    padding: 4px;
    border-bottom: 1px grey dotted;
}

div#main table.post-table tr:hover th {
    background: white;
}

div#main table.post-table tr:hover {
    background: #eee;
}

div#main img.rss {
    vertical-align: middle;
    padding: 0 3px;
}

div#main h4.rss {
    text-align: right !important;
}

div.grippie {
background:#EEEEEE url(/img/grippie.png) no-repeat scroll center 2px;
border-color:#DDDDDD;
border-style:solid;
border-width:0pt 1px 1px;
cursor:s-resize;
height:9px;
overflow:hidden;
margin-left: 10%;
}

.resizable-textarea textarea {
display:block;
margin-bottom:0pt;
width:95%;
height: 20%;
}


/* FOOTER */

div#footer {
    text-align: center;
    width: 750px;
    font-style: italic;
    padding: 0 10px 20px 0;

}

div#footer a {
    color: black;
    font-weight: bold;
}
